/*need to code my header&footer in a way that scales with page size*/

/*wasted so much time because i had footer css coded on another sheet and was making code redundant should have classified css pages earlier*/
.footer{
  background-color:#303030;
  display:flex;
  color: #fff;
  align-items:center;
  justify-content: space-between;
  flex-wrap: nowrap;
  /*changed padding too big*/
  padding:6px 12px;
  margin-top: auto;
  flex-direction:row;
  min-height: 40px;
  gap: 20px;
}

.logo1{
  height:15px;
  width:auto;
  display: block;
  object-fit: contain;
}

.logo_container{
  display:flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  gap:6px;
}


.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
