/*main page*/

body{
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

header{
  background-color: hsla(30, 60%, 35%, .75);
  padding: 30px;
  box-shadow: 0 0 3px #000;
}

header li{
  display: inline;
  padding-left: 45px;
}

header li a{
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 13px;
  transition: .3s ease;
}

header li a:hover{
  color: royalblue;
}

header ul #Cart a{
  color: #fff;
  background-color: brown;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -15px;
  transition: .3s ease;
}

header ul #Cart a:hover{
  background-color: goldenrod;
}

header ul #Login a{
  color: #fff;
  background-color: brown;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -15px;
  transition: .3s ease;
}

header ul #Login a:hover{
  background-color: goldenrod;
}

.active{
  color: brown;
}
